{:deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/tools.deps {:mvn/version "0.29.1593"}
        org.clojure/tools.deps.cli {:mvn/version "0.15.139"}
        org.clojure/data.json {:mvn/version "2.5.2"}
        org.babashka/cli {:mvn/version "0.8.67"}
        babashka/fs {:mvn/version "0.5.31"}
        org.babashka/http-client {:mvn/version "0.4.23"}
        org.clj-commons/byte-streams {:mvn/version "0.3.4"}
        version-clj/version-clj {:mvn/version "2.0.3"}
        borkdude/rewrite-edn {:mvn/version "0.5.9"}
        dev.weavejester/medley {:mvn/version "1.9.0"}
        io.github.clojure/tools.build {:git/tag "v0.10.12"
                                       :git/sha "97c5562933a7f26b406650f955cd6358554a07f1"}}

 :paths ["src"]
 :aliases
 {:main {:main-opts ["-m" "core"]}
  :test {:extra-paths ["test" "pkgs"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      nubank/matcher-combinators {:mvn/version "3.10.0"}

                      ;; for fake-git tests
                      babashka/process {:mvn/version "0.6.25"}
                      cheshire/cheshire {:mvn/version "6.1.0"}}}}}
